@import 'bower_components/bootstrap/less/bootstrap.less';
@import 'bower_components/admin-lte/build/less/AdminLTE.less';
@import 'bower_components/admin-lte/build/less/skins/skin-green.less';
// @import 'nav-wizard.less';

/* added since the template doesn't seem to enforce this rule */
.form-control {
  color: #555;
}

.nav-pills > li > a:hover {
  background-color: #d2d6de;
}

/* this was being set to light, so restore to bootstrap default */
.input-group-addon {
  color: #555;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  color: #555;
}



/* ez way to mark fields as required */
.form-group.required .control-label:after {
  content: "*";
  color: red;
}




/*
 * Set a z-index to the drop down always appears on top
 */
span.tt-dropdown-menu {
  z-index: 1;
}


/* Create some tools to working with stacked pills */
/* these are specific to adminlte */
.nav-stacked li .pill-title {
  display: inline-block;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.nav-stacked li .pill-tools {
  margin: 5px;
}

// attempting to use adminlte stacked pills style w/o the anchor tag requirement
// this didnt' work to well and isn't currently used anywhere until it's perfected
.pill-item {
  // from .nav-stacked>li>a
  border-radius: 0;
  border-top: 0;
  border-left: 3px solid transparent;
  color: #444;

  // from .nav>li>a
  position: relative;
  display: block;
  padding: 10px 15px;
}