<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
        <li class="header">Camp Portal</li>
        <li id="nav-test">
            {{#link-to 'test'}} {{fa-icon "flask"}} Experiments{{/link-to}}
        </li>

        <li id="nav-email">
            {{#link-to 'test'}} {{fa-icon "envelope"}} Camper Email{{/link-to}}
        </li>
        <li id="nav-media">
            {{#link-to 'test'}} {{fa-icon "photo"}} Photo Album{{/link-to}}
        </li>


    </ul>
</section>
<!-- /.sidebar -->